<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Marvellous Restaurent Recort Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown">
        <li class="nav-item">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Food Category</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Indian Food</a></li>
                <li><a class="dropdown-item" href="#">Italian Food</a></li>
                <li><a class="dropdown-item" href="#">Continental Food</a></li>
                <li><a class="dropdown-item" href="#">Chinese Food</a></li>
                <li><a class="dropdown-item" href="#">Japnese Food</a></li>
                <li><a class="dropdown-item" href="#">Mexican Food</a></li>
                <li><a class="dropdown-item" href="#">Deserts</a></li>
             </ul>
        </li>
        </div>
        <div class="dropdown">
        <li class="nav-item">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Offers</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Discounts</a></li>
              <li><a class="dropdown-item" href="#">Today's Offer</a></li>
              <li><a class="dropdown-item" href="#">Today's Special</a></li>
              <li><a class="dropdown-item" href="#">Coupons</a></li>

            </ul>
        </li>
        </div>
        <div class="dropdown">
        <li class="nav-item">
            <button type="button" class="btn btn-primary data-bs-toggle" data-bs-toggle="dropdown">Help</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><a class="dropdown-item" href="#">Customer Care</a></li>

            </ul>

        </li>
        </div>
        <diV class="dropdown">
        <li class="nav-item">
            <button type="button" class="btn btn-primary data-bs-toggle" data-bs-toggle="dropdown">Cart</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Add Menu</a></li>
                <li><a class="dropdown-item" href="#">Remove Menu</a></li>
                <li><a class="dropdown-item" href="#">Like Menu</a></li>
              </ul>
        </li>
        </diV>
      </ul>
      
    </div>
  </nav>    
  
   
  
  
  
